.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
    font-size: 72px;
    line-height: 320px;
    text-align: center;
}
.page1{
    background: red;
}
.page2{
    background: yellow;
}
.page3{
    background: maroon;
}
.page4{
    background: green;
}

/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(img/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}