.fullPage-wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;   
    -webkit-transform: translate3d(0,0,0);     
    transform: translate3d(0,0,0);     
}
.fullPage-wp.anim{
    -webkit-transition: all 500ms 0 ease-out;
    transition: all 500ms 0 ease-out; 
}
.fullPage-page{
    display: block;
    overflow: hidden;
}
